<br>

<form [formGroup]="dtFormgrp">

<div fxLayout = "row" fxLayoutGap = "10px" *ngIf = "crdfreq === 'adhoc'">
  <span fxFlex="1 1 5%"></span>
  <mat-form-field>
    <input matInput [matDatepicker]="dp1" placeholder="From" readonly formControlName="frmdt">
    <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
    <mat-datepicker #dp1 disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="dp2" placeholder="To" readonly formControlName="todat">
    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
    <mat-datepicker #dp2 disabled="false"></mat-datepicker>
  </mat-form-field>
  <button mat-button color = "primary" (click)="submitdts()" [disabled]="dtFormgrp.invalid"><strong>Get transactions</strong></button>
</div>
</form>
<mat-divider *ngIf = "crdfreq === 'adhoc'"></mat-divider>

<br>
<div *ngIf = "trandetfetch || tranadfetch">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>
<alerts></alerts>

<div *ngIf = "(!trandetfetch) && (!tranadfetch) && (dataSourceval.data.length < 1)">
  <p>No transactions to show....</p>
</div>

<div *ngIf = "(!trandetfetch) && (!tranadfetch) && (dataSourceval.data.length > 0)"> 

    <mat-toolbar class = "mat-elevation-z4">Transactions</mat-toolbar>
    <mat-table #table2 [dataSource]="dataSourceval" class = "mat-elevation-z4">

        <ng-container matColumnDef="trandate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Tran Date </mat-header-cell>
            <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.trandate}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>        
        </ng-container>     
    
        <!--ng-container matColumnDef="Fund">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Fund </mat-header-cell>
            <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.schemename}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>        
        </ng-container-->

      <ng-container matColumnDef="Units">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Total Units </mat-header-cell>
        <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.units}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>    
      </ng-container>
  
      
      <ng-container matColumnDef="Invested Amount">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Investment Amount </mat-header-cell>
        <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.invamt}} </mat-cell>               
      </ng-container>
      
      
      <ng-container matColumnDef="currentnav">
        <mat-header-cell *matHeaderCellDef mat-sort-header> NAV </mat-header-cell>
        <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.curnav}} </mat-cell>                
      </ng-container>

      <ng-container matColumnDef="trannav">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Tran NAV </mat-header-cell>
        <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.trannav}} </mat-cell>                
      </ng-container>

  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;" [ngClass]="{'highlight': selectedRowIndex == row.id}"></mat-row>
      
    </mat-table>
    <mat-paginator #paginator
      [pageSize]="10"
      [pageSizeOptions]="[1, 5, 10, 20, 30, 50, 80, 100]"
      [showFirstLastButtons]="true" class = "mat-elevation-z4">
    </mat-paginator>
  </div>