<app-postlogintoolbar></app-postlogintoolbar>
<mat-sidenav-container fullscreen style="margin-top:100px">
    <mat-sidenav #navss mode="side" opened="true" class="mat-elevation-z4" style="background-color: white; width: 280px;"  >
        <div fxFlexLayout="row" fxLayoutWrap  fxLayoutGap="500px">
         <!-- sidenav content -->
         <span>&nbsp;</span>
         <a type ="button" mat-icon-button routerLink="/securedpg/dashboard" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:10px; font-size:20px"> <mat-icon fxFlexAlign ="center">poll</mat-icon> &nbsp; Dashboard</a>

         <a type ="button" mat-icon-button routerLink="/securedpg/orders" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:10px; font-size:20px"> <mat-icon fxFlexAlign ="center">shopping_basket</mat-icon> &nbsp; Orders</a>
         <a type ="button" mat-icon-button routerLink="/securedpg/dashboard" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:10px; font-size:20px"> <mat-icon fxFlexAlign ="center">history</mat-icon> &nbsp; Order History</a>
         <a type ="button" mat-icon-button routerLink="/securedpg/dashboard" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:10px; font-size:20px"> <mat-icon fxFlexAlign ="center">account_balance</mat-icon> &nbsp; Holdings</a>
         <a type ="button" mat-icon-button routerLink="/securedpg/fundalloc" fxFlexAlign ="center" style="padding-left:10px; font-size:20px"> <mat-icon fxFlexAlign ="center">tune</mat-icon> &nbsp; Fund Allocation</a>
         <a type ="button" mat-icon-button fxFlexAlign ="center" style="padding-left:10px; font-size:20px"> <mat-icon fxFlexAlign ="center">settings</mat-icon> &nbsp; Settings</a>
         

         <a type ="button" mat-icon-button routerLink="/securedpg/settings/portfoliosetup" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:55px; font-size:18px"> <mat-icon fxFlexAlign ="center">card_travel</mat-icon> &nbsp; Portfolio</a>
         <a type ="button" mat-icon-button routerLink="/securedpg/settings/usersetup" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:55px; font-size:18px"> <mat-icon fxFlexAlign ="center">person_add</mat-icon> &nbsp; Users</a>
         <!--a *ngIf = "userstate.userstatus == 'R'" type ="button" mat-icon-button routerLink="/securedpg/settings/mfreg" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:55px; font-size:18px"> <mat-icon fxFlexAlign ="center">assignment_ind</mat-icon> &nbsp; Registration</a-->
         <a type ="button" mat-icon-button routerLink="/securedpg/settings/mfreg" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:55px; font-size:18px"> <mat-icon fxFlexAlign ="center">assignment_ind</mat-icon> &nbsp; Registration</a>
         
         <!--a *ngIf = "userstate.userstatus == 'U'" type ="button" mat-icon-button routerLink="/securedpg/settings/mfregupload" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:55px; font-size:18px"> <mat-icon fxFlexAlign ="center">file_upload</mat-icon> &nbsp; Docupload</a-->
         <a mat-icon-button routerLink="/securedpg/settings/mfregupload" routerLinkActive="active" fxFlexAlign ="center" style="padding-left:55px; font-size:18px"> <mat-icon fxFlexAlign ="center">file_upload</mat-icon> &nbsp; Docupload</a>
         
         <a type ="button" mat-icon-button fxFlexAlign ="center" style="padding-left:10px; font-size:20px" (click)=navss.close()> <mat-icon fxFlexAlign ="center">folder_open</mat-icon> &nbsp; close NAV</a>

       </div>        
      </mat-sidenav> 
        <div fxLayout="column" fxFlexFill>
            
                  <mat-card fxFlex>
                        <router-outlet></router-outlet>
                  </mat-card>
            

            
        </div>

</mat-sidenav-container>
<!--button fxFlex mat-button (click)=navss.open() >Open</button>
-->