


<mat-toolbar color ="primary" >
  <button mat-raised-button color="warn" (click)="addNewAllocAmt()" ><strong>Confirm</strong></button>
  <span>&nbsp;</span>
  <button mat-raised-button color="warn" (click)="setzero()" ><strong>Reset</strong></button>
  <span>&nbsp;</span>
  <span fxFlex></span>
  <label>&nbsp; Ledger Balance:</label>
  <mat-chip-list>
    <mat-chip selected="true" style="background-color:white; color:black; font:30px"><strong>{{natrayans.alocledgerbal || 0}}</strong></mat-chip>
  </mat-chip-list>
  <span>&nbsp;</span>
  <label>Unallocated: </label>
  <mat-chip-list>
    <mat-chip selected="true" style="background-color:white; color:black; font:30px"><strong>{{unallocated || 0}}</strong></mat-chip>
  </mat-chip-list>
  
  
</mat-toolbar>



<div class="example-header">
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

<mat-table [dataSource]="dataSource" matSort>

  <!-- ID Column -->
  <ng-container matColumnDef="Portfolioname">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Portfolioname </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Portfolioname"> {{element.pfportfolioname}} </mat-cell>
  </ng-container>

  <!-- pending current cycle Column -->
  <ng-container matColumnDef="pendingcurrent" >
    <mat-header-cell *matHeaderCellDef mat-sort-header style="color:lightblue"> Pending Current </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Pending Current" style="color:lightblue"> pendng </mat-cell>
  </ng-container>

      <!-- pending past cycle Column -->
  <ng-container matColumnDef="pendingpast">
    <mat-header-cell *matHeaderCellDef mat-sort-header style="color:lightblue"> Pending Past </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Pending Past" style="color:lightblue"> pendng </mat-cell>
  </ng-container>




  <!-- Name Column -->
  <ng-container matColumnDef="allocatedamt">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Allocated Amt </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Allocated Amt"> {{element.alocpfallocated}} </mat-cell>
  </ng-container>

  <!-- Color Column -->
  <ng-container matColumnDef="blockedamt">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Amount used today </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="Amount used today"> {{element.alocpfusedtoday}} </mat-cell>
  </ng-container>


      <!-- Progress Column -->
  <ng-container matColumnDef="newallocation">
    <mat-header-cell *matHeaderCellDef mat-sort-header> New Allocation </mat-header-cell>
    <mat-cell *matCellDef="let element" data-label="New Allocation" class=".align-right"> 
        <mat-form-field class="example-full-width" >
          <input matInput type="number" [(ngModel)]="element.alocpfnewallocated" (keyup)="dos(element)" (change)="doSomething()">
        </mat-form-field>        
      </mat-cell>      
  </ng-container>

      <!-- Total Column -->
  <ng-container matColumnDef="totalamt">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Total </mat-header-cell>
    <mat-cell *matCellDef="let element"  data-label="Total"> 
      {{element.alocpftotal}}      
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;">
  </mat-row>
</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>



<div fxLayout="column">
  <pre>{{natrayans | json}}</pre>
</div>