

mat-card{
    margin-top:130px;
    width:100%;
}




mat-raised-button{
    font-size:48px !important;
    height: 80px !important;
    width:148px !important;
    line-height:48px !important;
    display: block !important;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 50%;
    text-align: center;
  }
  
  .example-full-width {
    width: 100%;
  }
