.chpcls {
    min-width: 70px;

  }

  .example-full-width {
    width: 90px;
    margin-left:5px;
  }

  .chpcls1 {
    max-width: 80px;
    min-height: 25px;
    padding: 5px 0 0 5px;
    background-color: lightgray;
    border-radius: 12px;
  }

  .example-full-width1 {
    width: 100%;
    margin-left:5px;
  }