<mat-tab-group>
    <mat-tab label="Buy">
        <ng-template matTabContent >
          <ordplace-pfwiselist [prod]="prod" [trantype]="'buy'"></ordplace-pfwiselist>
        </ng-template>
    </mat-tab>
    <mat-tab label="Sell">
        <ng-template matTabContent >
            <ordplace-pfwiselist [prod]="prod" [trantype]="'sell'"></ordplace-pfwiselist>
          </ng-template>
    </mat-tab>
    <mat-tab label="STP" *ngIf= "prod == 'BSEMF'">
        <ng-template matTabContent >
            <ordplace-pfwiselist [prod]="prod" [trantype]="'stp'"></ordplace-pfwiselist>
          </ng-template>
    </mat-tab>
  </mat-tab-group>