
<mat-card>

<div fxLayout="row">
<form class="example-form">
  <div fxLayout = "row">


<mat-form-field>
    <mat-select placeholder="MandateType">
      <mat-option *ngFor="let mandatetype of mandatetypes" [value]="mandatetype.type">
        {{ mandatetype.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <span matPrefix>Rs &nbsp;</span>
    <input matInput placeholder="Mandate amount">
  </mat-form-field>



<mat-form-field>
  <input matInput [matDatepicker]="picker1" [min]="strtDate" (dateChange)="nat1($event)" placeholder="Angular forms" [formControl]="startdate">
  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
  <mat-datepicker #picker1 ></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <input matInput [matDatepicker]="picker2" [min]="strdt" [max]="maxDate" placeholder="Angular forms" [formControl]="enddate">
  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
  <mat-datepicker #picker2  [startAt]="strtDate"></mat-datepicker>
</mat-form-field>

  </div>



<div fxLayout="row">

    <mat-form-field>
        <mat-select placeholder="Favorite food" (selectionChange)="nat($event)" name="food" >
          <mat-option *ngFor="let acct of acctyps"  [value]="acct"> 
            {{acct.acnum}}</mat-option>
          </mat-select>
      </mat-form-field>

  <mat-form-field appearance="outline" class="sdsd">
    <mat-label>AcType</mat-label>
    <input matInput placeholder="Placeholder" [value]="evenj[0]?.actype" readonly>
  </mat-form-field>

  <mat-form-field>
      <input matInput [value]= "evenj[0]?.ifsc" readonly>
</mat-form-field>

<mat-form-field>
    <input matInput [value]= "evenj[0]?.bank"  readonly>
  
</mat-form-field>


  
</div>

</form>
</div>

</mat-card>


