.dashcarddetail {
    margin-top:15px; 
    border-radius:20px;
}

.dashcardless {
    margin-top:15px; 
    min-height: 500px;
    border-radius:20px;
    min-width: 500px;
}

.mat-row:hover {
    background-color: lightcyan;
  }

  .highlight{
    background: #42A948; /* green */
  }