
<mat-card [ngClass]="(detailmode)?'dashcarddetail mat-elevation-z8':'dashcardless mat-elevation-z8'">
  <mat-card-header>
    <mat-card-title>
        <h2>{{pfmain.pfportfolioname}}</h2>
    </mat-card-title>
    <mat-card-subtitle>{{pfmain.pfpurpose}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
        <alerts></alerts>
    <!--div *ngIf = "pfmain.length < 1" fxLayout = "column wrap" fxLayoutAlign="center">
        <div fxFlexFill>
            You have not created any portfolio.  Start investing now by creating portfolio.

            <mat-chip-list>
                <mat-chip>+</mat-chip>
            </mat-chip-list>
        </div>
    </div-->
    <div *ngIf = "!dailyposfetch">
    <mat-grid-list cols="1" style="padding:10px" *ngIf =  "(pfmain | json) == '{}'">

            <mat-grid-tile colspan="1" rowspan="1">
                <div fxLayout="column" fxLayoutAlign="center center">
                <div>
                    You have not created any portfolio.  Start investing now by creating portfolio.
                </div>
                <div>
                    <mat-chip-list>
                        <mat-chip style = "font-size: 15px" color="accent" selected><strong>+</strong></mat-chip>
                    </mat-chip-list>
                </div>
                </div>
            </mat-grid-tile>

    </mat-grid-list>
    
    <mat-grid-list cols="1"  *ngIf = "dpprods.length < 1 && (pfmain | json) !== '{}'">

            <mat-grid-tile colspan="1" rowspan="1">
                <div fxLayout="column" fxLayoutAlign="center center">
                <div>
                        You don't have any confirmed transactions in this portfolio
                </div>
                </div>
            </mat-grid-tile>

    </mat-grid-list>
    </div>
    <div *ngIf = "dailyposfetch" fxLayout = "column" fxLayoutAlign = "center center">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>

    <div fxLayout = "row wrap" *ngIf = "!dailyposfetch && dpprods.length > 0">
      <div fxFlex="1 1 25%">
        <p>Total Value</p>
        <p>
            <label>
                <h3>{{dpsum.curval}}</h3>
            </label>
        </p>
      </div>

      <div fxFlex="1 1 auto">
          <p>Invested Amount </p>
          <p>
              <label>
                  <h3>{{dpsum.invamt}}</h3>
              </label>
          </p>
        </div>
        <div fxFlex="1 1 auto">
            <p>P/L Amount </p>
            <p>
                <label>
                    <h3>{{dpsum.pnl}}</h3>
                </label>
            </p>
          </div>

          <div fxFlex="1 1 auto">
              <p>Growth % </p>
              <p>
                  <label>
                      <h3>{{dpsum.percentgr}}%</h3>
                  </label>
              </p>
            </div>

  


    <div >
            
    </div>
    </div>


    <!--div fxLayout = "row wrap">
          
        <div fxFlex="1 1 50%">
          <p>Start date </p>
          <p>
              <label>
                  <h3>25-May-2018</h3>
              </label>
          </p>
        </div>
  
        <div fxFlex="1 1 50%">
            <p>End date </p>
            <p>
                <label>
                    <h3>25-May-2028</h3>
                </label>
            </p>
          </div>
  
      </div-->
      <div *ngIf = "dashcharfetch" fxLayout = "column" fxLayoutAlign = "center center">
            <mat-spinner [diameter]="40"></mat-spinner>
      </div>
      <div *ngIf = "!dashcharfetch" >
        <div *ngIf = "dpprods.length > 0">
          <app-chart [data] = "linedata" [config]="config1" [elementId]="elementId" [charttype]="'line'" [detailmode]="detailmode"></app-chart>
        </div>
      </div>

    <div *ngIf = "detailmode">
        <div *ngFor = "let dpprod of dpprods; let j = index">
            <prodcard [mode]="'integrated'" [idpprod]="dpprod" [ipfindex]="myind" [iprodindex]="j" ></prodcard>
        </div>
    </div>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf = "!detailmode && (dpprods?.length > 0)" (click)="navigatedetailspg()">Details</button>    
  </mat-card-actions>
</mat-card>