

<mat-toolbar *ngIf = "orderservice.fullload">
    Pending Orders
    <span fxFlex></span>
    <button mat-raised-button (click)="initpage()"><mat-progress-spinner *ngIf = "orderservice.fetchingdata" [diameter]="10" strokeWidth="10"></mat-progress-spinner>Refresh</button>
</mat-toolbar>

<mat-toolbar *ngIf = "!orderservice.fullload">
    Submitted orders status
    <span fxFlex></span>
    <button mat-raised-button (click)="initpage()">Go to Pending Orders</button>
</mat-toolbar>

<alerts></alerts>


<br>
<br>
<div *ngIf="orderservice.validateprogress">
  <mat-spinner></mat-spinner>
  <p>
    Validation in progress
  </p>
</div>


<div *ngIf="orderservice.orderplacment">
  <mat-spinner></mat-spinner>
  <p>
    Orderplacement in progress
  </p>
</div>

<div *ngIf="orderservice.paymentlink">
    <mat-spinner></mat-spinner>
    <p>
      waiting for payment link
    </p>
  </div>


  <div *ngIf="orderservice.failpaylink">
      <mat-spinner></mat-spinner>
      <p>
        Unable to get payment link at the moment. Please <a [routerLink]="" (click)="initpage()">Go to Pending Orders page</a> to retrigger payment. 
      </p>
    </div>


<div *ngIf="orderservice.showtables" fxLayout = "column">
    
<!--  ############   VAS RECORDS TABLE  : START   #################-->
    <mat-toolbar color="primary" class="mat-elevation-z8" *ngIf="!dataSourceval.data.length < 1 || orderservice.fullload" >Orders Pending creation</mat-toolbar>
   
    <div *ngIf="dataSourceval.data.length < 1 && orderservice.fullload && !orderservice.fetchingdata">
        <p>
            You don't have any orders pending creation
        </p>
          <!--div *ngIf = "!orderservice.fullload">
              Please <a [routerLink]="" (click)="initpage()">Go to Pending Orders page</a> for the status of the submitted orders 
          </div-->
    </div>
    
        <mat-spinner *ngIf = "orderservice.fetchingdata"></mat-spinner>
    



    <div class="example-container mat-elevation-z8" *ngIf="dataSourceval.data.length>0">
        <mat-table #table2 [dataSource]="dataSourceval" matSort>
    
           
          
            <ng-container matColumnDef="Unique Order#">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Unique Order# </mat-header-cell>
                <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.mfor_uniquereferencenumber}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
    
              </ng-container>

          <ng-container matColumnDef="portfolio name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> portfolio name </mat-header-cell>
            <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.orpfportfolioname}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>

          </ng-container>
      
          
          <ng-container matColumnDef="Fund name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Fund name </mat-header-cell>
            <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.orormffundname}} </mat-cell>
            <mat-footer-cell *matFooterCellDef><h4>{{Total}}</h4></mat-footer-cell>
          </ng-container>
          
          
          <ng-container matColumnDef="Amount">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
            <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.mfor_amount}} </mat-cell>
            <mat-footer-cell *matFooterCellDef><h4>{{getTotalCost_suc()}}</h4></mat-footer-cell>
          </ng-container>
      
          
          <ng-container matColumnDef="errors">
            <mat-header-cell *matHeaderCellDef mat-sort-header> errors </mat-header-cell>
            <mat-cell *matCellDef="let elementv" [style.color]="'green'"> {{elementv.mfor_valierrors}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>

          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
        </mat-table>
        <mat-paginator #paginator2
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 20, 30, 50, 80, 100]"
          [showFirstLastButtons]="true">
        </mat-paginator>
      </div>


      <br>
      <br>


      <div  *ngIf="dataSourceval.data.length>0">
        <div fxLayout = "row" fxLayoutGap = "5px">
          <!--  Cancel button not required as orders auto canceled by T+1 9:30 AM
          <button mat-raised-button color="primary" (click) = "cancel_order()">Cancel</button>
          -->
          <button mat-raised-button color="primary" (click) = "send_submit()"  class="mat-elevation-z6">Submit Order</button>
        </div>
        <!--h6 >*Orders not created will be auto cancelled</h6-->
    </div>

    <!--  ############   VAS RECORDS TABLE  : END   #################-->

    <br>
    <br>
    <br>
    <br>

  <!--  ############   PPY RECORDS TABLE  : START   #################-->

  <mat-toolbar color="primary" class="mat-elevation-z8" *ngIf="!dataSourcesppy.data.length < 1 || orderservice.fullload" >Orders Pending Payment</mat-toolbar>
   
  <div *ngIf="dataSourcesppy.data.length < 1 && orderservice.fullload && !orderservice.fetchingdata">
      <p>
          You don't have any orders pending for payment
        </p>
        <!--div *ngIf = "!orderservice.fullload">
            Please <a [routerLink]="" (click)="initpage()">Go to Pending Orders page</a> for the status of the submitted orders 
        </div-->
  </div>

  <mat-spinner *ngIf = "orderservice.fetchingdata"></mat-spinner>

      <div class="example-container mat-elevation-z8" *ngIf="dataSourcesppy.data.length>0">
          <mat-table #table [dataSource]="dataSourcesppy" matSort>
      

              <ng-container matColumnDef="Unique Order#">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Unique Order# </mat-header-cell>
                  <mat-cell *matCellDef="let elements" [style.color]="'green'"> {{elements.mfor_uniquereferencenumber}} </mat-cell>
                  <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      
                </ng-container>
        
            
            <ng-container matColumnDef="portfolio name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> portfolio name </mat-header-cell>
              <mat-cell *matCellDef="let elements" [style.color]="'green'"> {{elements.orpfportfolioname}} </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>

            </ng-container>
        
            
            <ng-container matColumnDef="Fund name">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fund name </mat-header-cell>
              <mat-cell *matCellDef="let elements" [style.color]="'green'"> {{elements.orormffundname}} </mat-cell>
              <mat-footer-cell *matFooterCellDef><h4>{{Total}}</h4></mat-footer-cell>
            </ng-container>
            
            
            <ng-container matColumnDef="Amount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Amount </mat-header-cell>
              <mat-cell *matCellDef="let elements" [style.color]="'green'"> {{elements.mfor_amount}} </mat-cell>
              <mat-footer-cell *matFooterCellDef><h4>{{getTotalCost_penpay()}}</h4></mat-footer-cell>
            </ng-container>
        
            
            <ng-container matColumnDef="errors">
              <mat-header-cell *matHeaderCellDef mat-sort-header> errors </mat-header-cell>
              <mat-cell *matCellDef="let elements" [style.color]="'green'"> {{elements.mfor_valierrors}} </mat-cell>
              <mat-footer-cell *matFooterCellDef></mat-footer-cell>

            </ng-container>
        
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
          </mat-table>
          <mat-paginator #paginator
            [pageSize]="5"
            [pageSizeOptions]="[5, 10, 20, 30, 50, 80, 100]"
            [showFirstLastButtons]="true">
          </mat-paginator>
        </div>


        <br>
        <br>
          <div fxLayout = "column" fxLayout.lt-md = "column" fxLayoutGap = "5px" fxLayourWrap *ngIf="dataSourcesppy.data.length>0">
            <!--  Cancel button not required as orders auto canceled by T+1 9:30 AM
            <button mat-raised-button color="primary" (click) = "cancel_order()">Cancel</button>
            -->
            <form #personForm="ngForm">
            <mat-card >
    
                <div fxLayout="row" fxLayout.lt-md = "column"  fxLayourWrap>
    

                          <mat-form-field>
                                <mat-select placeholder="Account to pay from" [(value)] = "orderservice.selected_accnum" name = "natselect" required>
                                  <mat-option *ngFor="let regisacct of orderservice.regisaccts" [value]="regisacct">
                                    {{ regisacct.acnum }}
                                  </mat-option>
                                </mat-select>
                                <!--mat-error *ngIf="email.invalid">enter value</mat-error-->
                                <mat-hint *ngIf="orderservice.selected_accnum != ''" style = "color : green">{{orderservice.selected_accnum?.bank}}, {{orderservice.selected_accnum?.branch}}</mat-hint>
                            </mat-form-field>
                         
                            <span fxFlex = "20px"></span>
                            <div>
                                <button mat-raised-button color="primary"  [disabled]="personForm.invalid" (click) = "getpaylnk()"  class="mat-elevation-z6">Pay</button>
                            </div>

                              <!-- -->
                </div>
            </mat-card>   

          </form>

          <h6 >*Orders not payed will be auto cancelled by exchange by T+1 (~9-9:30AM)</h6>
      </div>

        <!--  ############   PPY RECORDS TABLE  : END   #################-->

<br>
<br>
<br>

        <!--  ############   FAI RECORDS TABLE  : START   #################-->

        <mat-toolbar color="primary" class="mat-elevation-z8" style = "background: silver" *ngIf="!dataSourcefai.data.length < 1 || orderservice.fullload" >Failed Orders</mat-toolbar>
   
        <div *ngIf="dataSourcefai.data.length < 1 && orderservice.fullload && !orderservice.fetchingdata">
            <p>
                You don't have any Failed orders
              </p>
              <!--div *ngIf = "!orderservice.fullload">
                  Please <a [routerLink]="" (click)="initpage()">Go to Pending Orders page</a> for the status of the submitted orders 
              </div-->
        </div>
        <mat-spinner *ngIf = "orderservice.fetchingdata"></mat-spinner>

  <div class="example-container mat-elevation-z8" *ngIf="dataSourcefai.data.length>0">
    <mat-table #table1 [dataSource]="dataSourcefai">

  

        <ng-container matColumnDef="Unique Order#">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Unique Order# </mat-header-cell>
            <mat-cell *matCellDef="let elementf" [style.color]="'green'"> {{elementf.mfor_uniquereferencenumber}} </mat-cell>
            <mat-footer-cell *matFooterCellDef></mat-footer-cell>

          </ng-container>
      
      <ng-container matColumnDef="portfolio name">
        <mat-header-cell *matHeaderCellDef> portfolio name </mat-header-cell>
        <mat-cell *matCellDef="let elementf" [style.color]="'red'"> {{elementf.orpfportfolioname}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="Fund name">
        <mat-header-cell *matHeaderCellDef> Fund name </mat-header-cell>
        <mat-cell *matCellDef="let elementf" [style.color]="'red'"> {{elementf.orormffundname}} </mat-cell>
        <mat-footer-cell *matFooterCellDef><h4>{{Total}}</h4></mat-footer-cell>
      </ng-container>
      
      
      <ng-container matColumnDef="Amount">
        <mat-header-cell *matHeaderCellDef> Amount </mat-header-cell>
        <mat-cell *matCellDef="let elementf" [style.color]="'red'"> {{elementf.mfor_amount}} </mat-cell>
        <mat-footer-cell *matFooterCellDef><h4>{{getTotalCost_fai()}}</h4></mat-footer-cell>
      </ng-container>
  
      
      <ng-container matColumnDef="errors">
        <mat-header-cell *matHeaderCellDef> errors </mat-header-cell>
        <mat-cell *matCellDef="let elementf" [style.color]="'red'"> {{elementf.mfor_valierrors}} </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>
  
      <!--tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr-->
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
    </mat-table>
    <mat-paginator #paginator1      
      [pageSize]="5"
      [pageSizeOptions]="[5, 10, 20, 30, 50, 80, 100]"
      [showFirstLastButtons]="true">
    </mat-paginator>
  </div>

<!--  ############   FAI RECORDS TABLE  : END   #################-->


</div>



<!--button mat-raised-button (click)="testscreens()"> popup </button>

<div *ngIf = "orderservice.paymentpopshown">
  Please check order payment status from Order history page.
</div-->