<br>
<mat-tab-group>
    
      <mat-tab label = "Today's Tran" >
        <ng-template matTabContent>
          <orderhistcard [freq] = "'today'" [product] = "product" ></orderhistcard>
        </ng-template>
      </mat-tab>
  
      <mat-tab label = "Week's Tran" >
        <ng-template matTabContent>
            <orderhistcard [freq] = "'week'" [product] = "product" ></orderhistcard>
        </ng-template>      
      </mat-tab>
    
      <mat-tab label = "Month's Tran" >
          <ng-template matTabContent>
              <orderhistcard [freq] = "'month'" [product] = "product" ></orderhistcard>
          </ng-template>      
        </mat-tab>


  </mat-tab-group>

