
    <div  *ngIf = "orderservice.onfetch">
        <mat-spinner [diameter]="40"></mat-spinner>
    </div>


<div *ngIf = "!orderservice.onfetch">
<mat-toolbar  color ="primary" >
        <label>&nbsp; <strong>Order Placement</strong> &nbsp;</label>
        <span>&nbsp;</span>  
        <p style="font-size:8px"> *Changes will be lost if it is not saved before navigating away from this page</p>    
      </mat-toolbar>
      <mat-toolbar color ="primary" *ngIf="this.fundnames.length==0">
      <button mat-raised-button class="mat-elevation-z8" color="warn" (click)="addNewPortfolio()" [disabled] = "isEAModeon || !editmode" ><strong>Add portfolio for order addition</strong></button>
      <span fxFlex = "20px"></span>
      <button mat-raised-button  color="warn" *ngIf="showit && editmode" (click)="savordforlater()"><strong>Save for Later</strong></button>
    </mat-toolbar>

    <br>
    <alerts></alerts>


    
    <div fxLayout="row wrap" fxLayoutGap="10px">    

        
    <div fxLayout="column" fxFlex="70" fxFlex.lt-lg="100" fxFlexOrder.lt-lg="2" fxFlexOrder="1">
      <div *ngFor="let pfdetail of orderservice.mforderdetails; let i = index" 
      fxFlex.lt-lg="1 1 100" fxFlex="1 1 auto" 
      >        
        <mfpfwiseordercard [Mypfdetail] = "pfdetail" 
                            [myindex]="i" 
                            [onEdit]="editmode" 
                            [EAMode]="isEAModeon" 
                            [fundnames]="fundnames"
                            (cardsave)="cardasave($event,ind)" 
                            > 
        </mfpfwiseordercard>
    
    

    </div>

    <div *ngIf="orderservice.mforderdetails?.length <1" [fxShow]="!orderservice.onfetch">
        <h3>You don't have any pending Orders</h3>
        <p>Check Order History for orders already placed</p>
        <p>Click on "Add portfolio for order addition" to Place New Orders</p>
    </div>
    
    <div *ngIf="orderservice.onfetch" class="circle">
        <br>
        <mat-progress-spinner mode="indeterminate" color = "blue"></mat-progress-spinner>
    </div>



</div> 
    <div fxFlexOrder="2" fxFlexOrder.lt-lg="1" fxFlex.lt-lg="1 1 100" fxFlex="1 1 auto" *ngIf="orderservice.mforderdetails?.length >0" [fxHide]="(orderservice.sipamtacrosspf.value < 1) && (orderservice.onetimeamtacrosspf.value < 1)">
        <br>
        
        <mat-card>
            <div fxLayout="column" [fxHide]="orderservice.sipamtacrosspf.value < 1">
                    <p>Every Month you Invest : {{orderservice.sipamtacrosspf.value}} </p>            
                    <mat-form-field>
                            <mat-select placeholder="Mandate id"[(value)] = "orderservice.selected_mandate" >
                              <mat-option *ngFor="let mandateid of mandateids" [value]="mandateid" (onSelectionChange) = "sipmanselchg($event)">
                                {{ mandateid.mandate_id }}
                              </mat-option>
                            </mat-select>
                            <mat-hint *ngIf="orderservice.selected_mandate != ''" style = "color : green">{{orderservice.selected_mandate?.bank}} , {{orderservice.selected_mandate?.branch}}</mat-hint>
                        </mat-form-field>
                        <!--   -->
                        
                    <br>
            </div>

            <mat-divider [fxHide]="(orderservice.sipamtacrosspf.value < 1) || (orderservice.onetimeamtacrosspf.value < 1)"></mat-divider>
            <br>
            <div fxLayout="column" [fxHide]="orderservice.onetimeamtacrosspf.value < 1">
                    <p>Amount you pay now : {{orderservice.onetimeamtacrosspf.value}} </p>


                      <mat-form-field>
                            <mat-select placeholder="Account to pay from" [(value)] = "orderservice.selected_accnum" >
                              <mat-option *ngFor="let regisacct of regisaccts" [value]="regisacct" (onSelectionChange) = "sipmanselchg($event)">
                                {{ regisacct.acnum }}
                              </mat-option>
                            </mat-select>
                            <mat-hint *ngIf="orderservice.selected_accnum != ''" style = "color : green">{{orderservice.selected_accnum?.bank}}, {{orderservice.selected_accnum?.branch}}</mat-hint>
                        </mat-form-field>

                          <!-- -->
                        
                </div>

            <br>
            <mat-divider [fxHide]="(orderservice.sipamtacrosspf.value < 1) && (orderservice.onetimeamtacrosspf.value < 1)"></mat-divider>
            
            <br>
            <div *ngIf="orderservice.onsavelater" class="circle">
                <br>
                <mat-progress-spinner mode="indeterminate" color = "blue"></mat-progress-spinner>
            </div>
            <div fxLayout="row"  fxLayoutGap = "5px" [fxHide]="(orderservice.sipamtacrosspf.value < 1) && (orderservice.onetimeamtacrosspf.value < 1)">                
                <!--span fxFlex></span>
                <button mat-raised-button color="accent" *ngIf="!showit">Place order</button>
                <button mat-raised-button color="accent" *ngIf="showit" (click)="refshclk()">Refresh</button-->
                <div *ngIf="!orderservice.onsavelater" class="circle">
                    <!--button mat-raised-button color="accent" *ngIf="showit && editmode" (click)="savordforlater()">Save for Later</button-->
                    <button mat-raised-button color="accent" *ngIf="!editmode" (click)="backbtn()">back</button>
                    <span fxFlex></span>
                    <button mat-raised-button color="accent" *ngIf="editmode" (click)="placeorder()">Place order</button>
                    <button mat-raised-button color="accent" *ngIf="!editmode" (click)="confirmorder()">confirm order</button>
                </div>
                
            </div>




 
            
        </mat-card>   

        

        </div>
    </div>

  
  <pre>{{ orderservice.mforderdetails | json }}</pre>
</div>