<mat-toolbar *ngIf = "orderservice.fullload">
  Pending Orders
  <span fxFlex></span>
  <button mat-raised-button (click)="initpage()"><mat-progress-spinner *ngIf = "orderservice.fetchingdata" [diameter]="10" strokeWidth="10"></mat-progress-spinner>Refresh</button>
</mat-toolbar>

<mat-toolbar *ngIf = "!orderservice.fullload">
  Submitted orders status
  <span fxFlex></span>
  <button mat-raised-button (click)="initpage()">Go to Pending Orders</button>
</mat-toolbar>

<alerts></alerts>


<br>
<br>
<div *ngIf="orderservice.validateprogress">
<mat-spinner></mat-spinner>
<p>
  Validation in progress
</p>
</div>


<div *ngIf="orderservice.orderplacment">
<mat-spinner></mat-spinner>
<p>
  Orderplacement in progress
</p>
</div>

<div *ngIf="orderservice.paymentlink">
  <mat-spinner></mat-spinner>
  <p>
    waiting for payment link
  </p>
</div>


<div *ngIf="orderservice.failpaylink">
    <mat-spinner></mat-spinner>
    <p>
      Unable to get payment link at the moment. Please <a [routerLink]="" (click)="initpage()">Go to Pending Orders page</a> to retrigger payment. 
    </p>
  </div>


<div *ngIf="orderservice.showtables" fxLayout = "column">

<mat-tab-group >
  <div *ngFor="let tab of products">
    <mat-tab *ngIf="tab == 'BSEMF' && (showprod === 'BSEMF' || showprod === 'all')" label = "Mutual Fund" >
      <ng-template matTabContent >
        <orderpending-type [prod]="tab" [showtran]="showtran" [showprod] = "showprod" ></orderpending-type>        
      </ng-template>
    </mat-tab>

    <mat-tab *ngIf="tab == 'EQ' && (showprod === 'EQ' || showprod === 'all')" label = "Stocks" >
      <ng-template matTabContent>
          <orderpending-type [prod]="tab" [showtran]="showtran" [showprod] = "showprod"></orderpending-type>  
      </ng-template>      
    </mat-tab>
  </div>
</mat-tab-group>

</div>





