<mat-toolbar class = "mat-elevation-z1" *ngIf = "orderservice.fullload">
  Pending Orders
  <span fxFlex></span>
  <button mat-raised-button (click)="initpage()"><mat-progress-spinner *ngIf = "orderservice.fetchingdata" [diameter]="10" strokeWidth="10"></mat-progress-spinner>Refresh</button>
</mat-toolbar>

<mat-toolbar class = "mat-elevation-z1" *ngIf = "!orderservice.fullload">
  Submitted orders status
  <span fxFlex></span>
  <button mat-raised-button (click)="initpage()">Go to Pending Orders</button>
</mat-toolbar>

<alerts></alerts>


<div *ngIf="orderservice.validateprogress">
  <br>
  <br>
  <mat-spinner></mat-spinner>
  <p>
    Validation in progress
  </p>
</div>


<div *ngIf="orderservice.orderplacment">
  <br>
  <br>
  <mat-spinner></mat-spinner>
  <p>
    Orderplacement in progress
  </p>
</div>

<div *ngIf="orderservice.paymentlink">
  <br>
  <br>
  <mat-spinner></mat-spinner>
  <p>
    waiting for payment link
  </p>
</div>


<div *ngIf="orderservice.failpaylink">
    <br>
    <br>
    <mat-spinner></mat-spinner>
    <p>
      Unable to get payment link at the moment. Please <a [routerLink]="" (click)="initpage()">Go to Pending Orders page</a> to retrigger payment. 
    </p>
  </div>


<div *ngIf="orderservice.showtables" fxLayout = "column">

<mat-tab-group >
  <div *ngFor="let prod of products">
    <mat-tab *ngIf="prod.name == showprod || showprod === 'all'" label = {{prod.dispname}} >
      <ng-template matTabContent >
        <orderpending-type [prod]="prod.name" [showtran]="showtran" [showprod] = "showprod" ></orderpending-type>        
      </ng-template>
    </mat-tab>
  </div>
</mat-tab-group>

</div>





