

<mat-tab-group>
  <div *ngFor="let tab of products">
    <mat-tab *ngIf="tab == 'Mutual Fund' " label = "{{tab}}" >
      <ng-template matTabContent>
      <orderhistlist [prod] = "tab"></orderhistlist>
    </ng-template>
    </mat-tab>

    <mat-tab *ngIf="tab == 'Stocks' " label = "{{tab}}" >
      <ng-template matTabContent>
          <orderhistlist [prod] = "tab"></orderhistlist>
      </ng-template>      
    </mat-tab>
  </div>
</mat-tab-group>

<!--
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>      
      MutualFund
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Second
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Third
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>
-->