<div class="loading-overlay" *ngIf="loading">
  <!-- show something fancy here, here with Angular 2 Material's loading bar or circle -->
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div *ngIf = "loading">
  <mat-spinner [diameter]="40"></mat-spinner>
</div>

<mat-toolbar class = "mat-elevation-z1">Order History</mat-toolbar>

<mat-tab-group class = "mat-elevation-z4">
  <div *ngFor="let tab of products">
    <mat-tab *ngIf="tab == 'Mutual Fund' " label = "{{tab}}" >
      <ng-template matTabContent >
      <orderhistlist [prod] = "tab"></orderhistlist>
    </ng-template>
    </mat-tab>

    <mat-tab *ngIf="tab == 'Stocks' " label = "{{tab}}" >
      <ng-template matTabContent>
          <orderhistlist [prod] = "tab"></orderhistlist>
      </ng-template>      
    </mat-tab>
  </div>
</mat-tab-group>

<!--
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>      
      MutualFund
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Second
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
      Third
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>
-->