<mat-toolbar color ="primary" >
    <label>&nbsp; <strong>Portfolio Maintenance</strong> &nbsp;</label>
  </mat-toolbar>

<mat-toolbar color ="primary" >
    
    <button mat-raised-button color="warn" (click)="addNewPortfolio()" [disabled] = "isEAModeon"><strong>Add</strong></button>
    <span>&nbsp;</span>
    <span fxFlex></span>
    <label>&nbsp; Total Portfolios: &nbsp;</label>
    <mat-chip-list>
    <mat-chip selected="true" style="background-color:white; color:black; font:30px"><strong>{{totalpf || 0}}</strong></mat-chip>
  </mat-chip-list>
    
    
</mat-toolbar>
<br>
<alerts></alerts>

<div fxLayout="row wrap" fxLayoutGap="10px">    
    
  <!-- This is the code for edit card : START-->
    <div  *ngFor="let pfedetail of pfedetails" fxFlex.lt-lg="1 1 100" fxFlex="1 1 100" >            
        <app-portfolio-card [Mypfdetail] = "pfedetail" [myindex]="editi" [onEdit]="true" [EAMode]="false" (cardcancel)="cardacancel($event,index)" (cardsave)="cardasave($event,formval)"> </app-portfolio-card>
    </div>  
  <!-- This is the code for edit card : END-->
   <!--   
    <div fxFlex.lt-lg="1 1 100" fxFlex="1 1 100" >      
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter Porfolio">
      </mat-form-field>
    </div>
  -->
  <!-- This is the code for Showing the card : START-->
  <div *ngFor="let pfdetail of pfdetails; let i = index" fxFlex.lt-lg="1 1 100" fxFlex="1 1 49" >      
    <app-portfolio-card [Mypfdetail] = "pfdetail" [myindex]="i" [onEdit]="false" [EAMode]="isEAModeon" (cardcancel)="cardacancel($event,index)" (cardsave)="cardasave($event,formval)" (cardedit)="cardaedit($event,index)" (cardexecute)="executepf($event,index)"> </app-portfolio-card>
  </div>
  <!-- This is the code for Showing the  card : END-->
  
<div *ngIf="totalpf<1 && pfedetails.length <1" [fxShow]="!onfetch">
    <h3>You don't have any portfolio yet</h3>
    <p>Click on Add to start your journey</p>
</div>

<div *ngIf="onfetch" class="circle">
    <br>
    <mat-progress-spinner mode="indeterminate" color = "blue"></mat-progress-spinner>
</div>
</div>